<div class="share-buttons">
<div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="40" data-layout="button_count" data-show-faces="true" data-send="false"></div>
</div>