<div class="slider-section">
  <i class="slider-section__close far fa-times" data-slider-close></i>
  <i class="slider-section__arrow slider-section__arrow--prev far fa-angle-left" data-slider-prev></i>
  <div class="slider-section__content">

  </div>
  <i class="slider-section__arrow slider-section__arrow--next far fa-angle-right" data-slider-next></i>
</div>
