<script type="text/x-template" id="article-spotify-section">
	<div class="wrapper">
    <div class="article-content">
      <div class="spotify-section">
      		<iframe v-if="spotify" :src="'https://open.spotify.com/embed/playlist/' + spotify" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      	</div>
    </div>
  </div>
</script>
