<!-- <div class="cart-feedback" :class="{'has-announcements': hasAnnouncements}"> -->
	<div class="cart-feedback" >
  <img src="" alt="" class="cart-feedback__image" />
  <div class="cart-feedback__details ml-sm">
    <div class="mb-xs">
      <p class="cart-feedback__vendor"></p>
      <p class="cart-feedback__product-title"></p>
      <p class="cart-feedback__size"></p>
    </div>
    <a class="cart-feedback__button button button--solid" href="/cart">View Cart<i class="fal fa-angle-right ml-xs"></i></a>
  </div>
</div>
