<a class="change-dest" href="#">Change Currency<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.63 5.22"><path fill="#231f20" d="M7.63.63L6.91 0 3.82 3.72.72 0 0 .63l3.19 3.84.63.75.62-.75L7.63.63z"/></svg></span></a>

{% comment %}
OLD CURRENCY SELECTOR
<div id="currencies">
	<a href="#"><span class="icon-cross"></span></a>
	<ul>
		<li><span data-currency="CAD" class="selector button {% if shop.currency == 'CAD' %}selected {% endif %}">$ CAD</span></li>
		<li><span data-currency="USD" class="selector button {% if shop.currency == 'USD' %}selected {% endif %}">$ USD</span></li>
		<li><span data-currency="GBP" class="selector button {% if shop.currency == 'GBP' %}selected {% endif %}">&pound; GBP</span></li>
		<li><span data-currency="EUR" class="selector button {% if shop.currency == 'EUR' %}selected {% endif %}">&euro; EUR</span></li>
		<li><span data-currency="AUD" class="selector button {% if shop.currency == 'AUD' %}selected {% endif %}">$ AUD</span></li>
		<li><span data-currency="NZD" class="selector button {% if shop.currency == 'NZD' %}selected {% endif %}">$ NZD</span></li>
		<li><span data-currency="JPY" class="selector button {% if shop.currency == 'JPY' %}selected {% endif %}">&yen;JPY</span></li>
		<li><span data-currency="HKD" class="selector button {% if shop.currency == 'HKD' %}selected {% endif %}">$ HKD</span></li>
		<li><span data-currency="KRW" class="selector button {% if shop.currency == 'KRW' %}selected {% endif %}">&#8361; KRW</span></li>
	</ul>
	<p>*All transactions processed in CAD</p>
</div>{% endcomment %}