<div id="nav-wrap">
    <nav id="nav" class="sixteen columns main-menu new">
      <!--<span class="mobileonly">{% include 'currency-selector' %}</span>-->
    	{% include 'tab-nav' %}
    </nav>
</div>