<section class="new-welcome">
	<figure class="feature no1">
		<a href="#"><figcaption class="bottom">
			<h2>Reigning Champ x United Arrows</h2>
			<h3>Shop Now</h3>
		</figcaption></a>
	</figure>
	<figure class="feature feature no2">
		<figcaption class="left">
			<a href="#"><h2>Esemplare</h2>
			<h3>New Arrivals</h3></a>
		</figcaption>
	</figure> 
</section>