<div class="modal">
  <div class="modal-inner">
    <a data-modal-close>Close</a>
    <div class="modal-content"></div>
  </div>
</div>

<div class="visually-hidden" id="newsletter-modal">
  NEWSLETTER MODAL CONTENT
</div>