{% assign intro_copy = 'Roden Gray celebrated its 10th Anniversary at the end of 2017. Leading into 2018, we are pleased to offer exclusive collaborations with seven select brands. The underlying theme of the RG10 collection is a utilitarian approach to life in the Pacific Northwest—which we feel lucky to call our home. This is best represented by direct and subtle references to military dress codes, known to withstand heavy and repeated use. These RG10 collaborations represent our most timeless yet relevant partnerships—we can promise that you will not want to miss out on these limited and highly personal pieces. Stay tuned via social media or email for more information.' %}
<!--Readymade-->
{% assign readymade_title = 'Readymade' %}
{% assign readymade_number = '02' %}
{% assign readymade_date = 'February 2, 2018' %}
{% assign readymade_copy = 'The READYMADE and RG10 collaboration is a variant of READYMADE&apos;s Jesse Jacket, featuring custom details and a removable high-visibility orange interior lining, as opposed to the traditional olive green normally seen on the style. Please email <a style="color:#231e20;" href="mailto:info@rodengray.com">info@rodengray.com</a> to purchase. <a style="color:#231e20;" href="https://rodengray.com/products/rg10jessejacket">See Jesse Jacket</a>' %}
{% assign readymade_img1 = 'https://cdn.shopify.com/s/files/1/0240/7285/files/readymade_040f3370-a938-4f3c-a413-5114f4f39098.png?549101123278666860' %}
{% assign readymade_img2 = '' %}
{% assign readymade_img3 = '' %}
<!--Alyx-->
{% assign alyx_title = 'Alyx' %}
{% assign alyx_number = '06' %}
{% assign alyx_date = 'TBA' %}
{% assign alyx_copy = 'An interpretation of the traditional military B-15 flight jacket produced exclusively for RG10, featuring high-density water-repellent nylon construction for durability. Features signature ALYX hardware on the arm zipper. In a subtle nod to the American dream, an exclusive reflective back graphic references the Los Angeles street where ALYX creator Matthew Williams grew up.' %}
{% assign alyx_img1 = 'https://cdn.shopify.com/s/files/1/0240/7285/files/alyx_470e85eb-9074-4de3-a79b-70c30dd5dd1f.png?16173949872897990621' %}
{% assign alyx_img2 = '' %}
{% assign alyx_img3 = '' %}
<!--Common Projects-->
{% assign cp_title = 'Common Projects' %}
{% assign cp_number = '07' %}
{% assign cp_date = 'TBA' %}
{% assign cp_copy = 'RG10&apos;s take on the chelsea boot, in collaboration with Common Projects. Waxed water-repellent suede is accented by an exclusive silver imprint of the model number. The outsole, traditionally crepe, is replaced by commando rubber that is intended to improve durability and wearability.' %}
{% assign cp_img1 = 'https://cdn.shopify.com/s/files/1/0240/7285/files/common_6fbec904-acf5-4977-9648-281189970ca4.png?16173949872897990621' %}
{% assign cp_img2 = '' %}
{% assign cp_img3 = '' %}
<!--OAMC-->
{% assign oamc_title = 'OAMC' %}
{% assign oamc_number = '01' %}
{% assign oamc_date = 'January 26, 2018' %}
{% assign oamc_copy = 'Two pieces were produced by OAMC for the RG10 collection. Both pieces feature the phrase “Do What Thou Wilt”, taken from the early 20th-century philosophical movement known as the Cult of Thelema. The BDU (Battle Dress Uniform) jacket is the most popular military design in the world, renowned for its high utility and minimal aesthetic.<br clear="all"><br><a style="color:#231e20;margin-right:10px;" href="https://rodengray.com/products/rg10militaryjacketbk">Buy Military Jacket</a>  <a style="color:#231e20;" href="https://rodengray.com/products/rg10surplust-shirtbk">Buy Surplus T-Shirt</a>' %}
{% assign oamc_img1 = 'https://cdn.shopify.com/s/files/1/0240/7285/files/oamc_448e99fb-06cb-45a6-87c4-e7e515d2b2c6.png?16173949872897990621' %}
{% assign oamc_img2 = '' %}
{% assign oamc_img3 = '' %}
<!--JE-->
{% assign je_title = 'John Elliott' %}
{% assign je_number = '05' %}
{% assign je_date = 'TBA' %}
{% assign je_copy = 'A key piece of John Elliott’s main line, the oversized cropped hoodie, has been customized for RG10. Production changes in Japan, from start to finish, ensure a unique product. Japanese fleeced-back terry is used as the source fabric, for comfort and durability in daily use. A custom paint finish is applied by hand to the upper portion of the hoodie, creating a colourway exclusive to RG10.' %}
{% assign je_img1 = 'https://cdn.shopify.com/s/files/1/0240/7285/files/je_49e408a2-3499-4a38-b37e-14836ad86a4d.png?16173949872897990621' %}
{% assign je_img2 = '' %}
{% assign je_img3 = '' %}
<!--Purple-->
{% assign purple_title = 'Purple' %}
{% assign purple_number = '04' %}
{% assign purple_date = 'February 16, 2018' %}
{% assign purple_copy = 'The jeans created for RG10 mimic a vintage, do-it-yourself approach to product customization. Jeans are distressed and a layer of metallic paint is applied at various locations on the garment, increasing visibility without the use of 3M. The back pockets are finished with a FRAMIS tape seal, intended to be broken as necessary, revealing a custom product identification tag.' %}
{% assign purple_img1 = 'https://cdn.shopify.com/s/files/1/0240/7285/files/purple_0c670e9b-eceb-4c97-95ca-9eea8cd1a307.png?16173949872897990621' %}
{% assign purple_img2 = '' %}
{% assign purple_img3 = '' %}
<!--Herschel-->
{% assign herschel_title = 'Herschel' %}
{% assign herschel_number = '03' %}
{% assign herschel_date = 'February 11, 2018' %}
{% assign herschel_copy = 'Since its start in 2009, Herschel has been a key travel accessories outfitter in the Pacific Northwest and beyond. The collaborative RG10 products emphasize the Vancouver lifestyle, with utility-driven designs featuring water-resistent sailcloth and reflective details for low-light situations.<br><br><a style="color:#231e20;" href="https://rodengray.com/products/barlowlsailcloth">Buy Barlow L Sailcloth</a>&nbsp; <a style="color:#231e20;" href="https://rodengray.com/products/brittaniasailcloth">Buy Brittania Sailcloth</a>&nbsp; <a style="color:#231e20;" href="https://rodengray.com/products/tourlsailcloth">Buy Tour L Sailcloth</a>' %} 
{% assign herschel_img1 = 'https://cdn.shopify.com/s/files/1/0240/7285/files/herschel_b98e827d-8601-41df-b667-f2de2a68110c.png?16173949872897990621' %}
{% assign herschel_img2 = '' %}
{% assign herschel_img3 = '' %}






